<?xml version="1.0" encoding="UTF-8"?>
<configuration> 
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
  <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
  	<remoteHost>${ELK_PORT_5001_TCP_ADDR}</remoteHost>
  	<port>5001</port>
  	<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>
 
	<root level="info">
		<appender-ref ref="stash" />
		<appender-ref ref="STDOUT" />
	</root>
 
</configuration>

